footer{
    color:white;
    background-color: black;
    display: flex !important;

    .divfooterizquierdo{
        width: 50%;

        div{
            a{
                #logofooter{
                    width: 40%;
                    height: 13.3%;
                    margin: 10px 0px 0px 20px;
                }
            }
        }

        div{
            nav{
                .ListaDeSeccionesDos{
                    display: flex;
                    margin: 0px;
                    padding: 10px 0px 0px 20px;

                     a{
                        color: gold;
                        text-decoration: none;

                        &:hover{
                            color: white;
                        }
                    }

                        .linavbardos{
                            text-decoration: none;
                            color: gold;
                            font-family: 'Oswald', sans-serif;
                            font-size: 25px;
                            margin: 15px 15px;
                            list-style: none;
                        }
                    }
                }
            }

            .sucursal{
                text-align: auto;
                margin: 0px 25px;
    
                .lineahorizontal{
                    display: flex;
                    justify-content: space-between;
                    margin: 0px 15px 0px 10px;
    
                    #nuestrasucursal{
                        font-size: 35px;
                        margin: 0px; 
                    }
                }
    
                #textosucursal{
                    margin: 0px 15px 10px 10px;
                }
            }

        }

    .divfooterderecho{
        width: 50%;

        iframe{
            height: 100%;
        }
        .mapaeiconos{
            width: 100%;
            height: 100%;
            align-items: right;
            display: flex;
            flex-direction: column;
            align-content: center;
            
            .iconsgroup{
                list-style: none;
                display: flex;
                align-content: center;
                justify-content: flex-end;
                margin: 10px 10px;

                img{
                    width: 20px;
                    height: 20px;
                    display: flex;
                    margin: 5px 15px;
                }
            }
        }
    }
}