/*Media Query - Index*/

@media only screen and (max-width:425px){
    body{
        background-color: aliceblue;
    }

    .container video{
        width: 100%;
        height: auto;
    }

    header{
        width: 100%;
        height: auto;
    }

    main{
        margin-top: 10px;
    }

    .anchornavbar ul{
        margin-top: 4px;
    }

    .anchornavbar ul li a{
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        color: gold;
        font-size: 13px;
    }

    .altview{
        width: 100%;
        height: auto;
    }

    .ListaDeSeccionesDos{
        width: 100%;
        padding: 0%;
        margin: 0px 0px 0px 16px;
    }

    .linavbardos{
        font-size: 100%;
        margin: 5px 5px;
        list-style: none;
    }

    .divfooterizquierdo{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .lineahorizontal{
        display: flex;
        flex-direction: column;
    }

    #nuestrasucursal{
        font-size: 16px;
    }

    #telefono{
        font-size: 10px;
    }

    #textosucursal{
        font-size: 10px;
    }

    .sucursal{
        margin: 0px 0px 0px 16px;
    }

    .mapaeiconos{
        width: 100%;
    }

    .divfooterderecho{
        width: 100%;
        height: auto;
    }

    .iconsgroup img{
        width: 30%;
        height: auto;
    }

    .contenedor-newsletter{
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .contenedor-imagen-newsletter{
        width: 100%;
        height: auto;
    }

    .contenedor-formulario-newsletter{
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .contenedor-subtitulos-newsletter{
        text-align: center;
        margin-top: 25px;
    }
    
    .titulo-newsletter{
        font-size: 25px;
        margin-bottom: 0%;
    }
    
    .contenedor-subtitulos-newsletter p{
        font-size: 14px;
        margin-top: 0%;
    }

    form{
        width: 100%;
        padding: 0 10% 10% 10%;
        margin: 0px;
        position: center;
    }

    #imagenformulario{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

}

@media only screen and (min-width:426px) and (max-width:768px){

    header{
        width: 100%;
        height: auto;
    }

    .video-container{
        width: 100%;
    }

    .video-container video{
        width: 100%;
    }

    .anchornavbar ul{
        width: 100%;
    }

    .anchornavbar ul li a{
        font-size: 18px;
    }

    main{
        margin-top: 5px;
    }
}

/*Media Query - Reviews*/

@media only screen and (max-width:800px){

    .grid-container2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-content2:nth-child(4){
        width: 100%;
        height: auto;
    }

    #bannerpublicidad{
        width: 90%;
        height: auto;
        margin: 0% 5%;
        border: solid 5px black;
    }

    .botondos{
        margin: 0% 45%;
    }

    .botoncuatro{
        margin: 0% 44%;
    }

    .imagenesdereviews{
        width: 70%;
        height: auto;
        margin: 0% 15%;
    }

    .textos-reviews{
        text-align: center;
    }

}

/*Media Query - Blog*/

@media only screen and (max-width:800px){

    .primeralinea{
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    .divprimeralinea{
        width: 100%;
        height: auto;
        margin: 0%;
        padding: 0%;
    }

    .conjuntoprimeralinea{
        margin: 0%;
        width: 100%;
        height: auto;
    }

    .segundalinea{
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    .divsegundalinea{
        width: 100%;
        height: auto;
        margin: 0%;
        padding: 0%;
    }

    .conjuntosegundalinea{
        margin: 0%;
        width: 100%;
        height: auto;
    }

    .textos-blog{
        text-align: center;
        font-size: 16px;
    }
}

/*Media Query - STAFF*/

@media only screen and (max-width:767px){

    #titulo-staff{
        font-size: 4px;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    .staff-content{
        display: flex;
        flex-direction: column;
    }

    .staff-imagenes{
        width: 75%;
        height: 75%;
    }

    .textos-staff{
        text-align: center;
        margin-top: 15px;
    }

    .reverse{
        flex-direction: column-reverse;
    }

    .mapaeiconos{
        padding-top: 0px;
    }
    
}

@media only screen and (min-width:768px) and (max-width:1023px){

    .linavbardos{
        text-decoration: none;
        color: gold;
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        margin: 15px 15px;
        list-style: none;
    }

}