body{
    margin: 0;
    padding: 0;
    background-image: url(./multimedia/marmol-background.jpg);
}

.container video{
    width: 100%;
    height: auto;
}

.subtitulo-encabezado{
    font-size: 40px !important;
}

.boton{
    font-family: 'Oswald', sans-serif;
    transition-property: all;
    transition-duration: 1s;
}

.boton:hover{
    transform: scale(1.1)
}

footer{
    color:white;
    background-color: black;
    display: flex !important;
}

.ListaDeSecciones{
    display: flex;
    float: right;
    list-style: none;
}

.iconsgroup{
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    margin: 10px 10px;
}

.iconsgroup img{
    width: 20px;
    height: 20px;
    display: flex;
    margin: 5px 15px;
}

#logofooter{
    width: 40%;
    height: 13.3%;
    margin: 10px 0px 0px 20px;
}

.mapaeiconos{
    width: 100%;
    height: 100%;
    align-items: right;
    display: flex;
    flex-direction: column;
    align-content: center; 
}

.ListaDeSeccionesDos{
    display: flex;
    margin: 0px;
    padding: 10px 0px 0px 20px;
}

.linavbardos{
    text-decoration: none;
    color: gold;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin: 15px 15px;
    list-style: none;
}

.ListaDeSeccionesDos a{
    color: gold;
    text-decoration: none;
}

.ListaDeSeccionesDos a:hover{
    color: white;
    text-decoration: none;
}

.lineahorizontal{
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    margin: 0px 15px 0px 10px;
}

#nuestrasucursal{
    font-size: 35px;
    margin: 0px;
}


.divfooterizquierdo{
    width: 50%;
}

.divfooterderecho{
    width: 50%;
}

#textosucursal{
    margin: 0px 15px 10px 10px;
    font-family: 'Fresca', sans-serif;
}

iframe{
    height: 100%;
}

/* Aquí comienza la sección REVIEWS */

#bannertres{
    width: 100%;
    height: 100%;
}

.imagenesdereviews{
    width: 100%;
    height:50%;
    margin: 0%;
}

.imagenesprincipales{
    width: 33%;
    margin: 10px 10px;
    border-radius: 2px;
}

#big-fish{
    width: 100%;
    height: 100%;
    margin: 0%;
}

#matrix{
    width: 100%;
    height: 100%;
    margin: 0%;
}

.botoncuatro{
    text-align: center;
    text-decoration: none;
    margin: 5px 70px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: black;
    color: gold;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 1s;
}

.botoncuatro:hover{
    background-color: rgb(44, 44, 44);
}

.padding-cards{
    padding: 0px 20px;
}

/* Aquí termina la sección REVIEWS */

p{font-family: 'Fresca', sans-serif;}
h1{font-family: 'Oswald', sans-serif;}
h2{font-family: 'Oswald', sans-serif;}
h3{font-family: 'Oswald', sans-serif;}
h4{font-family: 'Oswald', sans-serif;}
h5{font-family: 'Oswald', sans-serif;}
h6{font-family: 'Oswald', sans-serif;}

/* Grilla Reviews */

.grid-container2{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin: 1px 0px 15px 0px;
}

.grid-content2:first-child{
    grid-column: 1/9;
}

.grid-content2:nth-child(2){
    grid-column: 1/2;
    transition-property: all;
    transition-duration: 1s;
}

.grid-content2:nth-child(2):hover{
    transform: translateX(5px);
}

.grid-content2:nth-child(3){
    grid-column: 2/5;
}

.grid-content2:nth-child(4){
    grid-column: 5/9;
    grid-row: 2/5;
}

#bannerpublicidad{
    width: 100%;
    height: 100%;
}

.grid-content2:nth-child(5){
    grid-column: 1/4;
}

.grid-content2:nth-child(6){
    grid-column: 4/5;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 1s;
}

.grid-content2:nth-child(6):hover{
    transform: translateX(-5px);
}

.grid-content2:nth-child(7){
    grid-column: 1/2;
    transition-property: all;
    transition-duration: 1s;
}

.grid-content2:nth-child(7):hover{
    transform: translateY(-10px);
}

.grid-content2:nth-child(8){
    grid-column: 2/3;
    transition-property: all;
    transition-duration: 1s;
}

.grid-content2:nth-child(8):hover{
    transform: translateY(-10px);
}

.grid-content2:nth-child(9){
    grid-column: 3/4;
    transition-property: all;
    transition-duration: 1s;
}

.grid-content2:nth-child(9):hover{
    transform: translateY(-10px);
}

.grid-content2:nth-child(10){
    grid-column: 4/5;
    transition-property: all;
    transition-duration: 1s;
}

.grid-content2:nth-child(10):hover{
    transform: translateY(10px);
}

.form{
    display: flex;
    flex-direction: row;
}

.form-group{
    margin: 0px 10px;
}

#titulo-staff{
    margin: 50px 0px 15px 0px;
    font-size: 45px;
}

.divdepruebastaff{
    width: 25%;
    height: 60vh;
    overflow: hidden;
    margin: 0px 10px;
    border-radius: 15px;
}

.divdeprueba2{
    width: 100%;
    height: 100%;
}

.contenedortextosaparicion{
    opacity: 1%;
    transform: translateY(-100%);
    background-color: rgba(7, 7, 7, 0.644);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    transition: 0.5s;
    color: white;
}

.divdepruebastaff:hover .contenedortextosaparicion{
    opacity: 100%;
}

.contenedortextosstaff{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.staff-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.contenedorform{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#boton-form{
    margin-top: 10px;
}

.row{
    margin-bottom: 20px;
}

.col-md-6{
    transition-property: all;
    transition-duration: 0.5s;
}

.col-md-6:hover{
    transform: translateY(-10px) !important;
}

.col-md-3{
    transition-property: all;
    transition-duration: 0.5s;
}

.col-md-3:hover{
    transform: translateY(-10px) !important;
}

.card{
    padding: 0px !important;
}

.col-md-12{
    padding: 0px !important;
}

.banner-articles{
    width: 100%;
    height: 45%;
}

.banner-articles-1{
    width: 100%;
    height: 100%;
}

.titulos-articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-articulo{
    margin: 15px 0px 0px 0px;
}

.subtitulo-articulo{
    margin: 0px;
}

.autor-articulo{
    margin: 0px;
}

.articulo{
    width: 70%;
    height: auto;
    margin: 0px 15%;
}

.articulo{
    margin-top: 30px;
}

.parrafo-1{
    font-size: 20px;
}

.div-articulo{
    width: 100%;
}

.imagenes-articulos{
    width: 100%;
    height: auto;
}

.parrafo-2{
    font-size:20px;
    margin-top: 20px;
}

.parrafo-3{
    font-size:20px;
    margin-top: 20px;
}

.parrafo-4{
    font-size:20px;
    margin-top: 20px;
}

.puntuacion{
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.iframe-trailer{
    width: 100%;
    height: 500px;
    margin: 50px 0px 50px 0px;
}

.banner-horizontal{
    width: 100%;
    height: auto;
    margin: 50px 0px 50px 0px;
}

.articulos-relacionados{
    width: 70%;
    margin: 0% 15% 0% 15%;
}

.quizas-quieras-leer{
    margin-top: 25px;
    margin-bottom: 75px;
}

.encabezados-peliculas{
    margin-top: 35px;
}

#tengo-miedo-torero{
    margin-bottom: 45px;
}

.lista-ordenada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.li-ordenado{
    font-size: 20px;
    font-family: 'Fresca', sans-serif;
}

.imagen-final{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}